---
import { siteConfig } from "../config/site";
---

<header class="site-header">
  <div class="wrap">
    <a class="brand" href="/">{siteConfig.siteName}</a>
    <nav aria-label="Primary">
      <ul>
        {siteConfig.nav.map((item) => (
          <li><a href={item.href}>{item.label}</a></li>
        ))}
      </ul>
    </nav>
  </div>
</header>
